.navbar ul{
  display:flex;
}

.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px auto;
}

.container__header{
  grid-row: 1;
  grid-column:1/7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

}

.container__images{
 
  grid-column:1/7;
  justify-self: center;
  
}

.container__images {



}

.container__main{
  grid-row: 3/5;
  grid-column: 2/6;
  justify-items: center;
  display: grid;
  grid-template-columns: 2fr 4fr;
}



.header__page-title {
  grid-column: 2/5;
}

.header__page-title p{
  padding: 2px;
  text-align: center;
}

.navbar{
  grid-column: 5;

}

.navbar ul{
  display: flex;
  justify-content: space-between;
  height:100%;
  align-items: center;
}

.header__search{

  grid-column: 3/5;
 align-self: center;


  
}

.header__search input{
  width: 90%;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-col-left{
  grid-column: 1;
}
.content-col-right{
  grid-column: 2;
}

.centered-text{
  grid-column: 1/3;
}

.row-1{
  grid-row: 1/3;
}

.review{
  grid-column: 1/3;
}