*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-family: 'Lacquer', Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
}

h2{
  font-size: 3rem;
}

.site-header-title{
  font-family: 'Lacquer';
  font-size: 2rem;
  font-weight: 900;
}

body{
  font-family: sans-serif;
  background-color: #111;
  color: #eee;
}

a{
  text-decoration: none;
  color: #ddd;
}

a:hover{
  background-color: gray;
}


.navbar{
  grid-row: 1;
}

i{

  background-color: gray;
  border-radius: 10px 0 0 10px;

}

ul{

  list-style: none;

}

.welcome-text{
  font-size: 1.5rem;
}

.container__header{
  background-color: rgba(255,255,255,0.1);
}

.container__main{
  margin-top: 2%;
  font-size: 1.5rem;
}

.container__main p{
  text-align: left;
}

.container__images{
  margin-top:5%;

}

.review{
  padding: 50px;
}

.review div{
padding-top: 10px;


}

.comment-section{
  width: 100%;
}

.comment{
  background-color: rgba(255,255,255,0.1);
  padding:10px;
  margin-top: 2px;
  text-align: left;
}

.hashtag{
  font-style: italic;
  font-size: 1.5rem;
  background-color: darkred;
  border-radius: 10px;
}

.hashtag a:hover{
  background-color: red;
  border-radius: 10px;
}

.hashtag a{
  font-family: 'Lacquer';
}

.review-link{
  font-size: 1.6rem;

}