<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="https://kit.fontawesome.com/94e0f58538.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
    <title>CategoryView</title>
</head>

<body class="container">
    <header class="container__header">
        <div class="header__page-title">
            <p class="site-header-title">Fast Track To Nowhere</p>
            <p>Very biased reviews</p>
        </div>
        <div class="header__search">
            <i class="fas fa-search"></i><input type="text" placeholder="search">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li> <a href="../hashtags">Hashtags</a></li>
                <li><a href="../categories">Categories</a></li>
            </ul>
        </nav>
    </header>
    <main class="container__main">
        <div class="col-left">
            <h2 th:text="${category.type}"></h2>
            <ul>
                <li th:each="review:${category.reviews}">
                    <a th:text="${review.title}" th:href="@{'/review/' + ${review.id}}" class="review-link"> </a> </li>


            </ul>
        </div>
        <div class="col-right">
            <form th:action="@{${categoryType} +'/add-review'}" method="POST">

                <input name="category" type="text" th:value="${categoryType}">
                <input name="reviewTitle" type="text" placeholder="Review Title">
                <textarea name="reviewBody" id="reviewBodyTextArea" cols="30" rows="10"
                    placeholder="Review Text"></textarea>
                <button type="submit"> Add Review</button>
            </form>
        </div>

    </main>
</body>


</html>