<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="https://kit.fontawesome.com/94e0f58538.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
    <title>Sedan</title>
</head>

<body class="container">
    <header class="container__header">
        <div class="header__page-title">
            <p class="site-header-title">Fast Track To Nowhere</p>
            <p>Very biased reviews</p>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li> <a href="../hashtags">Hashtags</a></li>
                <li><a href="../categories">Categories</a></li>
            </ul>
        </nav>
    </header>
    <main class="container__main">
        <div class="content-col-left">
            <h2 th:each="category:${categories}"><a th:text="${category.type}"
                    th:href="@{'/categories/' + ${category.type}}">Sedan</a></h2>
        </div>
        <div class="content-col-right">
            <form action="add-category" method="POST">
                <input name="type" type="text">
                <button type="submit"> Add Category</button>
            </form>
        </div>
    </main>

</body>


</html>