<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="https://kit.fontawesome.com/94e0f58538.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
    <title>Coupe</title>
</head>

<body class="container">

    <header class="container__header">
        <div class="header__page-title">
            <p class="site-header-title">Fast Track To Nowhere</p>
            <p>Very biased reviews</p>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li> <a href="../hashtags">Hashtags</a></li>
                <li><a href="../categories">Categories</a></li>
            </ul>
        </nav>
    </header>
    <main class="container__main">
        <h2 th:text="'Very Biased '+${review.category.type} +' Reviews'" class="main__header"> Very Biased Sedan Reviews
        </h2>

        <section class="main__review review content-col-left">
            <div class="main__title">
                <h3 th:text="${review.title}">I really love this car omg</h3>
            </div>

            <div class="review__category">
                <h3 th:text="${review.category.type}">Sedan</h3>
            </div>

            <div class="review__body" th:text="${review.reviewBody}">
                <p>This is one of those cars that you will hate. Why because it may out live you. You will just get sick
                    of it
                    being so trustworthy and reliable. For gosh sake Toyota give me something to talk about other that
                    oil changes
                    and new tires. Not even a squeaky belt after 100,000 miles. I drive 25-28k per year and this car it
                    the best
                    vehicle I have ever owned.</p>
            </div>

            <div class="review__hashtags">
                <small th:each="hashtag:${review.hashtags}" class="hashtag">
                    <a th:href="@{'/hashtags/' + ${hashtag.id}}" th:text="'#'+${hashtag.hashtag} + ' '"></a>
                </small>
            </div>

        </section>

        <section class="comment-section">
            <p th:each="comment : ${review.comments}" th:text="${comment.comment}" class="comment">

            </p>

        </section>
        <div class="content-col-right row-1">
            <form th:action="${review.id}+'/add-comment'" method="POST">
                <input name="comment" type="text">
                <button type="submit"> Add Comment</button>
            </form>
            <form th:action="'/review/' + ${review.id} + '/add-hashtag'" method="POST">
                <input name="hashtagName" type="text">
                <button type="submit">Add Hashtag</button>
            </form>

        </div>


    </main>

</body>

</html>